// TODO stillingar hér

// Litir
$black: #000000;
$white: #ffffff;
$green: #afb281;
$blue: #cee8ff;
$lightYellow: #fcffd2;
$red: #cc9694;

// Stærðir
$maxWidth: 1200px;
$break1: 600px;

// Fonts
$mainFont: 'Open sans', helvetica, arial, sans-serif;
$headingFont: 'Oswald', Verdana, serif;