// TODO stillingar hér

// Litir
$black: #000;
$white: #fff;
$green: #afb281;
$blue: #cee8ff;
$lightYellow: #fcffd2;
$red: #cc9694;

// Stærðir


$maxWidth: 1240px;
$break1: 600px;
$break2: 800px;

// Fonts
$mainFont: 'Open sans', helvetica, arial, sans-serif;
$headingFont: 'Oswald', Verdana, serif;

