* { /* Efni frá kennara */ 
    margin: 0;
    padding: 0;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    font-size: 16px;
  } /* Endar */ 
  
  main {
    margin: 0 auto;
    max-width: 1200px; 
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .text {
    margin-bottom: 20px;
  }
  
  .text p {
    margin-bottom: 20px;
  }
  
  .image {
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  /* Hefði getað skrifað allt í röð og gert kommu á eftir öllu en nenni ekki að breyta */ 
  .grid__col { 
      padding-right: 10px; /* Þetta er padding til hægri og vinstri á öllu dálkunum og eftir hvernig þeir minnka*/ 
      padding-left: 10px;
  }

  .grid__col { /* Svo efnið haldist 100% í síðunni*/ 
    width: 100%; 
  }

  .grid__row { /* Svo að dálkar raðist upp í column þegar þeir minnka */ 
    flex-direction: column;
    display: flex; 
    margin-left: -10px;
    margin-right: -10px;
  }


  /* Þegar við erum undir 499px þá breytist þetta svona*/
  @media (max-width: 499px){
    
    /* Gerði þetta svo myndirnar leggist ekki ofaná hvort aðra þegar skjárinn fer undir 699px */ 
    .grid__row:nth-of-type(2)>.grid__col:nth-of-type(1){ /* Leggjast á textann í staðinn */ 
      order:1;
    }
    .grid__row:nth-of-type(2)>.grid__col:nth-of-type(2){
      order:1; 
    }
    h2 {
        font-size: 48px;
        margin-bottom: 20px;
    }
    h3 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    p {
        font-size: 21px;
        margin-bottom: 20px;
    }
    .table {
        margin-left: 0%;
        margin-right: 10%;
        display: flex;
     }

     td {
       display: flex;
       display:flex; 
       flex-direction: column;
       flex-wrap: row wrap;
       display: block;
     }
   th {
       margin-right: 12%;
   }
     tr {
         display:flex; 
         flex-direction: row;
}
  }

  /* Þegar við erum á milli 500px og 799px þá breytist þetta svona */
  @media (min-width: 500px) AND (max-width:799px ){
    
     /* Gerði þetta svo myndirnar leggist ekki ofaná hvort aðra þegar skjárinn fer undir 699px */ 
     .grid__row:nth-of-type(2)>.grid__col:nth-of-type(1){ /* Leggjast á textann í staðinn */ 
        order:1;
      }
      .grid__row:nth-of-type(2)>.grid__col:nth-of-type(2){
        order:1; 
      }
      h2 {
          font-size: 48px;
          margin-bottom: 20px;
      }
      h3 {
          font-size: 36px;
          margin-bottom: 20px;
      }
  
      p {
          font-size: 21px;
          margin-bottom: 20px;
      }
      .table {
          margin-left: 0%;
          margin-right: 10%;
          display: flex;
       }
  
       td {
        display: flex;
        display:flex; 
        flex-direction: column;
        flex-wrap: row wrap;
        display: block;
       }
     th {
         margin-right: 12%;
     }
       tr {
           display:flex; 
           flex-direction: row;
  }
    }
  
  /* Þegar við erum með skjáinn stærri en 1500px */
  @media (min-width: 1500px){
    main{
      padding:  0px; /* padding og grid færist ekki lengra */ 
    }
     /* Gerði þetta svo myndirnar leggist ekki ofaná hvort aðra þegar skjárinn fer á milli þessa gilda  */ 
     .grid__row:nth-of-type(2)>.grid__col:nth-of-type(1){
        order:1;
      }
      .grid__row:nth-of-type(2)>.grid__col:nth-of-type(2){
        order:1;
      }
      .grid__col-3{
          width: 33%; /* Stóru myndirnar raðast að hlið við textann */ 
          margin-bottom: 40px;
      }
      .grid__row{
          flex-direction: row;
      }
      .grid{
          display: flex;
          flex-flow: row;
          flex-wrap: wrap;
      }
      .grid__text {
        margin-right: -100%;
        margin-bottom: 50%;
    }

      h2 {
        font-size: 36px;
        margin-bottom: 20px;
    }
    h3 {
        font-size: 21px;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        margin-bottom: 20px; }
    
    .table {
            margin-left: 16%;
         }

     td {
           display: flex;
           display:flex; 
           flex-direction: row; 
         }

    
                 
     tr {
         display:flex; 
         flex-direction: row;
    }     
  }
  /* Þegar við erum á milli 800px og 1499px */
  @media (min-width: 800px) AND (max-width: 1499px){
    
    /* Gerði þetta svo myndirnar leggist ekki ofaná hvort aðra þegar skjárinn fer á milli þessa gilda  */ 
    .grid__row:nth-of-type(2)>.grid__col:nth-of-type(1){
        order:1;
      }
      .grid__row:nth-of-type(2)>.grid__col:nth-of-type(2){
        order:1;
      }
      .grid__col-3{
          width: 33%; /* Stóru myndirnar raðast að hlið við textann */ 
          margin-bottom: 40px;
      }
      .grid__row{
          flex-direction: row;
      }
      .grid{
          display: flex;
          flex-flow: row;
          flex-wrap: wrap;
      }
      .grid__text {
        margin-right: -100%;
        margin-bottom: 50%;
    }
        
    
  
      h2 {
        font-size: 36px;
        margin-bottom: 20px;
    }
    h3 {
        font-size: 21px;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        margin-bottom: 20px; }

    .table {
            margin-left: 16%;
         }
   
    td {
           display: flex;
           display:flex; 
           flex-direction: row;
         }

    th {
           margin-right: 12%;
       }
         
    tr {
             display:flex; 
             flex-direction: row;
    }
    }
    
