@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 16px;
  // TODO fleiri grunn stillingar	
}
body{  /* stylelint-disable-line */
	grid-template-columns: 20px [col-start] 20px [col-start] 20px [col-start];
}

main{ /* stylelint-disable-line */
	max-width: 77em;
  padding-left: 20px;
  padding-right: 20px;
 	margin: auto;
}  /* stylelint-disable-line */
h1,h2,h3,h4,h5,h6{
  font-family: "Oswald","Verdana","Serif";
}

p,a,label{  /* stylelint-disable-line */
  font-family: "Open-Sans","helvetica","arial","sans-serif";
}





@import "scss/header.scss";
@import "scss/footer.scss";
@import "scss/Staff.scss";

